<div class="content-wrapper">
                    <div class="float-right" style="text-align: center;">
                        <p>&copy; @DateTime.Now.Year</p>
                    </div>
                </div>