<table style="width: 999px; border: 0px; border-collapse: collapse;">
    <colgroup>
        <col style="width: 160px" />
        <col style="width: 839px" />
    </colgroup>
    <tr>
        <td>
            <div id="jaiImage" class="ManImageDiv">
                <img src="~/Content/images/icon/business_user.png" alt="" runat="server" id="MyImage" />
            </div>
        </td>
        <td>
            <div runat="server" id="HeaderpanelReplaceControl">
                <div id="headerpannel" class="headerTempleImageDiv">
                    <div>
                        <img src='~/Content/images/HeaderImage/kerala.JPG' alt='' />
                    </div>
                    <div>
                        <img src='~/Content/images/HeaderImage/header.JPG' alt='' />
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
