<div class="leftAdvertisment ">
   <img src="~/Content/images/Advertisment/Left/AD1.jpg" />
</div>

<div class="leftAdvertisment ">
    <img src="~/Content/images/Advertisment/Left/AD2.jpg" />
</div>


<div class="leftAdvertisment ">
    <img src="~/Content/images/Advertisment/Left/AD3.jpg" />
</div>


<div class="leftAdvertisment ">
    <img src="~/Content/images/Advertisment/Left/AD4.jpg" />
</div>



