<div class="rightAdvertisment">
    <img src="~/Content/images/Advertisment/Right/AD1.jpg" />
</div>
<div class="rightAdvertisment">
    <img src="~/Content/images/Advertisment/Right/AD2.jpg" />
</div>
<div class="rightAdvertisment">
    <img src="~/Content/images/Advertisment/Right/AD3.jpg" />
</div>
<div class="rightAdvertisment">
    <img src="~/Content/images/Advertisment/Right/AD4.jpg" />
</div>
