

<div id="scrolling-Mantra-Section" class="scrollingMantra">
    <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="2" scrolldelay="5" behavior="scroll">
                               <article>@Baidyanath.Resources.Resource.ScrollingMantra</article> 
                             </marquee>
</div>
