@model Baidyanath.Models.Shared.TotalHitModel
<table style="border: 0px; border-collapse: collapse; width:100%;" >
    <colgroup>
        <col style="width: 99%;" />
    </colgroup>
    <tr>
        <td style="text-align:center; width:99%; padding-top:7px;">
            <span>@(Model.GetTotalHit()) : @Baidyanath.Resources.Resource.Visitors</span>
        </td>
     
    </tr>
    @*<tr>
        <td style="text-align:center; width:99%;">
             <span>@(Model.GetTotalHit()) : @Baidyanath.Resources.Resource.Members</span>
        </td>
   
    </tr>*@
</table>
