.AdminMenu
{
    height: 24px;
    margin: auto;
}

.AdminMenu > ul
{
    font-size: 14px;
    color: #4e4e4e;
    margin: auto;
    margin-left: -70px;
}

    .AdminMenu > ul > li
    {
        list-style: none;
        float: left;
        height: 24px;
        border: 1px solid #000000;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
        padding-left:10px;
        padding-right:10px;
    }

        .AdminMenu > ul > li > a
        {
            color: #4e4e4e;
        }

        .AdminMenu > ul > li:hover > a,
        .AdminMenu > ul > li:hover
        {
            color: white;
        }

            .AdminMenu > ul > li:hover > ul
            {
                display: block;
            }



        .AdminMenu > ul > li.active
        {
            color: white;
            height: 26px;
            font-weight: bold;
            box-shadow: inset 0px -10px 9px rgb(71, 129, 181); /*6bb7e2*/
            box-shadow: inset 0px -10px 9px rgb(71, 129, 181);
            box-shadow: inset 0px -10px 9px rgb(71, 129, 181);
        }

            .AdminMenu > ul > li.active > a
            {
                color: white;
                height: 23px;
            }

        .AdminMenu > ul > li .languageDiv
        {
            width: 75px;
            margin-left: 17px;
        }

            .AdminMenu > ul > li .languageDiv > select
            {
                height: 20px;
                margin-top: -1px;
            }
